---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import {
  CTAHero,
  CTASection,
  StatsSection,
  TransportBadge,
  MobilityMeasures,
  ODPTimeline,
  LivingLabsMapSection,
} from "../components/react";
import heroImage from "../assets/img/sum-hero.png";
import mcdaImage from "../assets/img/sum-mcda.png";
import impactImage from "../assets/img/sum-measure-kpi-impact.png";
import ApiClient from "../lib/api-client/ApiClient";
import { getUrl } from "../lib/helpers";

const api = new ApiClient();

const livingLabsData = await api.getLivingLabsAndData();
const measures = await api.getMeasures();

const labs = livingLabsData.map((lab) => ({
  id: lab.id,
  name: lab.name,
  coordinates: { lat: lab.lat, lng: lab.lng },
  radius: lab.radius ?? 50,
  status: lab.status,
  totalMeasures: lab.measures.length,
  kpisBefore: lab.kpi_results.filter((kpi) => kpi.result_before).length,
  kpisAfter: lab.kpi_results.filter((kpi) => kpi.result_after).length,
  transportModes: lab.transport_modes.length,
  sustainablePercentage: 0.4,
}));
---

<Layout role="visitor">
  <CTAHero
    image={heroImage}
    title="SUM Open Data Platform"
    subtitle="A first-of-its-kind, Pan-European Open Data Platform tracking the impact of push and pull measures on New Shared Mobility and Public Transport across 9+ Living Labs."
    primary={{
      text: "Login",
      href: getUrl("/lab-admin/login"),
    }}
    secondary={{
      text: "Explore the Living Labs",
      href: "#",
    }}
  />
  <div class="text-center">
    <div class="flex justify-center flex-wrap gap-1 md:gap-4 my-6">
      <TransportBadge type="bus" size="lg" color="warning" />
      <TransportBadge type="bike" size="lg" color="secondary" />
      <TransportBadge type="metro" size="lg" color="info" />
      <TransportBadge type="car-sharing" size="lg" color="secondary" />
      <TransportBadge type="e-bus" size="lg" color="light" />
      <TransportBadge type="scooter" size="lg" color="secondary" />
    </div>

    <StatsSection
      titleHighlight="SEAMLESS"
      title="Shared Urban Mobility"
      subtitle="The SUM Open Data Platform collects and delivers data and analytical tools to monitor, evaluate, and optimize the seamless integration of new shared mobility services with public transport across European Living Labs."
      stats={[
        { id: 1, name: "Living labs", value: "9" },
        {
          id: 2,
          name: "Measures implemented for New Shared Modes integration",
          value: "16",
        },
        {
          id: 3,
          name: "Different Shared Mobility integrated in Living Labs",
          value: "10",
        },
        {
          id: 4,
          name: "Average increase for New Share Modes use (since 2023)",
          value: "+5%",
        },
      ]}
    />
    <LivingLabsMapSection labs={labs} client:only="react" />

    <CTASection
      title="Monitoring measures around New Shared Mobility"
      description="From pre-implementation surveys to real-world impact analysis, here's how data flows through the SUM project."
      order="center"
      linkText="Add your city"
      linkHref="#"
    >
      <ODPTimeline />
    </CTASection>

    <CTASection
      title="Measures for Seamless Shared Urban Mobility"
      description="Measures are policy actions, infrastructure changes, service rollouts, or regulatory shifts implemented by cities to impact how people move through urban spaces. Each measure falls under one of two strategic categories: "
      order="center"
      linkText="Know more about the measures"
      linkHref="#"
    >
      <MobilityMeasures
        pullMeasures={measures.filter((m) => m.type === "PULL")}
        pushMeasures={measures.filter((m) => m.type === "PUSH")}
        hideDescription={true}
        cols={4}
      />
    </CTASection>
  </div>

  <CTASection
    title="Push and pull measures impact assessment tool"
    description="Discover how push and pull measures impacted Living Labs Key Performance Indicators (KPI). The impact assessment tool provides : "
    imageSrc={impactImage.src}
    imageAlt="Impactfull measures example"
    benefits={[
      "Estimation of what measures worked and where ",
      "Ranking of each measures",
      "Estimation of how measures contributed to KPI changes across Living Labs",
      "Compare Living Labs KPI variations",
    ]}
    linkText="Discover the impact assessment tool"
    linkHref="#"
    order="right"
  />
  <CTASection
    title="Decision tool for NSM measures"
    description="Compare and rank sustainable mobility strategies across multiple cities and stakeholders."
    imageSrc={mcdaImage.src}
    imageAlt="Recommended business activities"
    benefits={[
      "Analyze the impact of measures from different perspectives",
      "Define a strategy for your city",
      "Get recommendations of push and pull measures aligned with your goals",
      "Multi-Criteria Decision Analysis (MCDA) tool",
      "Rank and compare mobility strategies",
      "Customizable criteria and weights",
    ]}
    linkText="Try the decision tool"
    linkHref="#"
  />
</Layout>
